/* style for the index page*/

.indexPage
{
    background-color: #b4a5a5;
    font-family: 'kalam';
    color:white;
    
}


/* style the header */
.indexPage header 
{
    background-color:#2b2e4a;
    min-height: 76px;
    padding-top: 28px;
}

.indexPage header nav img
{
    width:20px;
    height:20px;
}
.indexPage header nav ul 
{
    list-style: none;
    padding: 43px;
    margin-left: 180px;
    display: inline;
}
.indexPage header nav h1
{
    display: inline;
    font-size: 40px;
    color:white;   
}

.indexPage header nav ul li
{
    display: inline;
    padding: 32px 50px 32px 50px;
    font-size: 25px;
}

.indexPage header nav ul li:hover
{
    background-color: crimson;
    cursor:pointer;
}

.indexPage header nav ul a
{
    text-decoration:none;
    color:white;
}
/* end of the header style */


/* style the main */
/* .indexPage #leftSection
{
    width:62.4% ;
    float:left;
    min-height: 400px;
    background-color:#2b2e4a;
    opacity: 1;
    background-image: url('https://img3.mashed.com/img/gallery/the-most-popular-grocery-store-cookies-ranked-worst-to-best/l-intro-1599852725.jpg');
    background-repeat:no-repeat;
    background-size:100% 100%;
} */

.indexPage #leftSection img
{
    width:410px;
    height: 400px;
    position:relative;
    /* top:110px; */
}
.indexPage #rightSection
{
    width: 100%;
    
    min-height: 720px;
    background-color:#e84545;
    background-image: url('https://github.com/LTUC/amman-201d19/blob/master/class-08/lab-b/assets/family.jpg?raw=true');
    background-repeat:no-repeat;
    background-size:100% 100%;
}

.indexPage #rightSection li
{
    padding: 20px;
    padding-left: 80px;
    font-size: 20px;
    color:black;
}
.indexPage #rightSection h1
{
    padding: 10%;
    font-size:25px;
}
/* end of the main style */

/* style of the footer */
.indexPage footer
{
    clear:both;
    width:100%;
    min-height:100px;
    background-color:black;
}

.indexPage footer ul
{
    padding: 45px;
}

.indexPage footer ul li 
{
    display: inline;
    padding: 40px;
    font-size: 25px;
    text-decoration:none;
    
}
.indexPage footer ul li a
{
    text-decoration: none;
    color:white;
}
/* end of the footer style */


/*style for the sales page*/
body
{
    background-color: #b4a5a5;
    font-family: 'kalam';
    
}
h1 {
    text-align: center;
    margin-bottom: 115px;
    color:#151515;
}

h3 {
    text-align: center;
    color:#301b3f;
}

/* ul 
{
    margin: 24px auto 61px 38%;
    border: 3px solid black;
    border-radius: 25px;
    padding: 24px 0px 24px 80px;
    width: 250px;
} */


table#dailyDataTable 
{
    margin-left: 13%;
    padding: 3px;
}


table, th, td 
{
    border: 1px solid black;
    padding: 8px;
    color:#9a000e;
}

th
{
    color:black;
}


a
{
    text-decoration: none;
    color:black;
}


/* The style for the openHours Page */

.openHoursCont main ul 
{
    padding:50px;
    padding-left:200px;
}

.openHoursCont main ul li 
{
    padding:40px;
    font-size:25px;
    color:black;
}

.openHoursCont h1
{
    margin-top:20px;
    font-size:30px;
}


/* The style for the Locations page */

.locations main ul 
{
    padding:50px;
    padding-left:200px;
}

.locations main ul li 
{
    padding:40px;
    font-size:25px;
    color:black;
}

.locations h1
{
    margin-top:20px;
    font-size:30px;
}